/target
/releases

**/.pgpass
**/pg_dump*
**/.tar.gpg*
**/*appendonly.aof

n-number*

db_data
backups
nginx_confs

docker/data
**/test_scrape.txt

**/scraper_html.ts
**/aircraft.csv
**/airport.csv
**/country.csv
**/flightroute_iata.csv
**/flightroute_icao.csv
pg_dump.tar
**/*.csv
**/*.7z

# local env files
**/.env*
**/*.env*