version: "3.8"
networks:
  adsbdb-net:
    name: adsbdb-net
services:
  adsbdb_postgres:
    image: adsbdb_postgres:0.0.2
    container_name: adsbdb_postgres
    build:
      context: .
      dockerfile: $HOME/adsbdb/docker/dockerfile/postgres.Dockerfile
      args:
        - DOCKER_UID=${DOCKER_UID}
        - DOCKER_GUID=${DOCKER_GUID}
        - DOCKER_TIME_CONT=${DOCKER_TIME_CONT}
        - DOCKER_TIME_CITY=${DOCKER_TIME_CITY}
    env_file: $HOME/adsbdb/docker/env/.postgres.env
    cap_drop:
      - all
    security_opt:
      - no-new-privileges
    ipc: private
    restart: always
    shm_size: 256MB
    volumes:
      - $HOME/adsbdb/db_data/pg_data:/pg_data
    command: -p 5433
    networks:
      - adsbdb-net
    deploy:
      resources:
        limits:
          memory: 128M
    healthcheck:
      test: ["CMD", "/healthcheck/health_postgres.sh"]
      start_period: 2m
      interval: 30s
      timeout: 20s
      retries: 3
  adsbdb_postgres_backup:
    image: adsbdb_postgres_backup:0.0.2
    container_name: adsbdb_postgres_backup
    build:
      context: .
      dockerfile: $HOME/adsbdb/docker/dockerfile/postgres_backup.Dockerfile
      args:
        - DOCKER_UID=${DOCKER_UID}
        - DOCKER_GUID=${DOCKER_GUID}
        - DOCKER_TIME_CONT=${DOCKER_TIME_CONT}
        - DOCKER_TIME_CITY=${DOCKER_TIME_CITY}
    env_file: $HOME/adsbdb/docker/env/.postgres_backup.env
    cap_drop:
      - all
    security_opt:
      - no-new-privileges
    ipc: private
    volumes:
      - /$HOME/adsbdb/db_data/backups:/backups
      - $HOME/adsbdb/db_data/redis_data:/redis_data:ro
      - $HOME/adsbdb/logs:/logs:ro
    networks:
      - adsbdb-net
    logging:
      driver: "json-file"
      options:
        max-size: "16m"
    depends_on:
      adsbdb_postgres:
        condition: service_healthy
    restart: 'no'
    deploy:
      resources:
        limits:
          memory: 32MB
  adsbdb_redis:
    image: adsbdb_redis:0.0.2
    container_name: adsbdb_redis
    hostname: adsbdb_redis
    build:
      context: .
      dockerfile: $HOME/adsbdb/docker/dockerfile/redis.Dockerfile
      args:
        - DOCKER_UID=${DOCKER_UID}
        - DOCKER_GUID=${DOCKER_GUID}
        - DOCKER_TIME_CONT=${DOCKER_TIME_CONT}
        - DOCKER_TIME_CITY=${DOCKER_TIME_CITY}
    env_file: $HOME/adsbdb/docker/env/.redis.env
    volumes:
      - $HOME/adsbdb/db_data/redis_data:/redis_data
    cap_drop:
      - all
    security_opt:
      - no-new-privileges
    ipc: private
    restart: always
    networks:
      - adsbdb-net
    logging:
      driver: "json-file"
      options:
        max-size: "16m"
    healthcheck:
      test: ["CMD", "/healthcheck/health_redis.sh"]
      interval: 30s
      timeout: 20s
      retries: 3
    deploy:
      resources:
        limits:
          memory: 64M
  adsbdb_api:
    image: adsbdb_api:0.0.2
    container_name: adsbdb_api
    hostname: adsbdb_api
    build:
      context: $HOME/adsbdb/src
      dockerfile: $HOME/adsbdb/docker/dockerfile/api.Dockerfile
      args:
        - DOCKER_UID=${DOCKER_UID}
        - DOCKER_GUID=${DOCKER_GUID}
        - DOCKER_TIME_CONT=${DOCKER_TIME_CONT}
        - DOCKER_TIME_CITY=${DOCKER_TIME_CITY}
    env_file: $HOME/adsbdb/docker/env/.api.env
    volumes:
      - $HOME/adsbdb/logs/api:/logs
    ports:
      - "127.0.0.1:8100:8100"
    cap_drop:
      - all
    security_opt:
      - no-new-privileges
    ipc: private
    restart: always
    networks:
      - adsbdb-net
    logging:
      driver: "json-file"
      options:
        max-size: "16m"
    deploy:
      resources:
        limits:
          memory: 64M
    healthcheck:
      test: ["CMD", "/healthcheck/health_api.sh"]
      interval: 30s
      timeout: 10s
      retries: 3
    depends_on:
      adsbdb_postgres:
        condition: service_healthy
      adsbdb_redis:
        condition: service_healthy